In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("lab 1 - csv.csv")

In [4]:
df.head()

     id;name;price;currency;created_at
0  SKU-1001; shoes ;799;SEK;2024-01-10
1    SKU-1002;pants;520;SEK;2024/02/15
2             SKU-1003;shirts;450;SEK;
3        ;jacket;-200; SEK ;2024-13-01
4                        SKU-1005;;;;