In [2]:
import pandas as pd

In [9]:
df = pd.read_csv("lab 1 - csv.csv", sep=";")

In [12]:
print(df.columns.tolist())
df.head()

['id', 'name', 'price', 'currency', 'created_at']

         id     name price currency  created_at
0  SKU-1001   shoes    799      SEK  2024-01-10
1  SKU-1002    pants   520      SEK  2024/02/15
2  SKU-1003   shirts   450      SEK         NaN
3       NaN   jacket  -200     SEK   2024-13-01
4  SKU-1005      NaN   NaN      NaN

In [ ]:
#normalizing/cleaning the columns
df["id"] = df["id"].str.strip()
df["id"] = df["id"].str.upper()
df["id"] = df["id"].str.replace("_", "-").str.replace(" ", "")

In [ ]:
df["name"] = df["id"].str.strip().str.title().str.replace(r"\s+", " ", regex=True)