In [2]:
import pandas as pd

In [9]:
df = pd.read_csv("lab 1 - csv.csv", sep=";")

In [12]:
print(df.columns.tolist())
df.head()

['id', 'name', 'price', 'currency', 'created_at']

         id     name price currency  created_at
0  SKU-1001   shoes    799      SEK  2024-01-10
1  SKU-1002    pants   520      SEK  2024/02/15
2  SKU-1003   shirts   450      SEK         NaN
3       NaN   jacket  -200     SEK   2024-13-01
4  SKU-1005      NaN   NaN      NaN

In [ ]:
#normalizing/cleaning the columns
df["id"] = df["id"].str.strip().str.upper().str.replace("_", "-").str.replace(" ", "")

df["name"] = df["id"].str.strip().str.title().str.replace(r"\s+", " ", regex=True)

df["price"] = pd.to_numeric(df["price"], errors="coerce") #make sure its a number

df["currency"] = df["currency"].astype(str).str.strip().str.upper()

df["created_at"] = pd.to_datetime(df["created_at"], errors="coerce", yearfirst=True)

In [ ]:
#Flagging probable issues

df["Missing_currency_flag"] = df["currency"].isna()
df["Zero_price_flag"] = df["price"] == 0
df["Negative_price"] = df["price"] < 0
df["Luxury_product"] = df["price"] > 100000
df["Missing_product_flag"] = df["price"].isna()

In [ ]:
reject_condition = (
    df["Negative_price"],
    df["Missing_product_flag"],
    df["id"].isna(), 
    df["name"].isna()

)

df_rejected = df[reject_condition].copy() #f√∂r att pandas ska ej modifiera "df"
df_valid = df[~reject_condition].copy()

In [17]:
df.tail(
)

,id,name,price,currency,created_at,flag_missing_currency,flag_zero_price,flag_negative_price
50,SKU-1051,Sku-1051,250.0,SEK,2025-01-05,False,False,False
51,SKU-1052,Sku-1052,NaN,SEK,2025-01-10,False,False,False
52,SKU-1053,Sku-1053,85.0,SEK,2025-01-15,False,False,False
53,SKU-1054,Sku-1054,450.0,SEK,2025-02-01,False,False,False
54,SKU-1055,Sku-1055,300.0,NaN,2025-02-05,True,False,False